<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

  {% include head.html %}
  
  <body id="overview" class="">
    <div id="top">
    <!-- SiteCatalyst code version: H.8. Copyright 1997-2006 Omniture, Inc. -->
    <script type="text/javascript">
    /* RSID: */
    var s_account="appleglobal,appleusdeveloper"
    </script>
    </div>

      <main id="main" class="main" role="main">

        <div class="grid">
          <div id="introduction" class="row">
            <header class="col-100 text-center">
              <h1 class="human-interface-guideline-product-logo"><span class="text-replace">Apple Watch</span></h1>

              <h2>{{page.title}}</h2>
              <p class="intro width-80 center">{{page.pageDescription}}</p>
            </header>
          </div>
        </div>

        <!-- HIG content -->
        <div class="bg-light">
          <div class="grid" data-hires="true">
            <section class="row">
              {% include sidebar.html %}
              <!-- Main content -->
              <div class="col-80 hig-content" data-hires="true">
               {{ content }}
              </div>
            </section>
          </div>
        </div>

        <div class="grid">
          <section id="router" class="router">
            <a href="{{page.nextSessionLink}}" class="block row">
              <span class="col-33">
                <h4 class="show-only-for-small"><small>Next</small></h4>
                <img width="300" height="168" src="{{page.nextSessionImage}}" alt="" />
              </span>
              <span class="col-66">
                <span class="router-copy two-lines">
                  <h4>
                    <small>Next</small>
                    {{page.nextSessionTitle}}
                  </h4>
                  <p class="block-link more">{{page.nextSessionDescription}} <span class="nowrap">Apple Watch</span></p>
                </span>
              </span>
            </a>
          </section>
        </div>
      </main>   
  </body>
</html>
